DJANGO_SECRET_KEY=degistir-beni
DJANGO_DEBUG=True
DATABASE_URL=postgresql://postgres.[PROJE_REF]:[PAROLA]@aws-0-[BOLGE].pooler.supabase.com:6543/postgres
ALLOWED_HOSTS=localhost,127.0.0.1,.vercel.app
CSRF_TRUSTED_ORIGINS=https://*.vercel.app
